SpEst2GerenciamentoWS/.vs/
SpEst2GerenciamentoWS/SpEst2GerenciamentoWS/bin
SpEst2GerenciamentoWS/SpEst2GerenciamentoWS/obj
SpEst3Gerenciamento/.vs/
SpEst3Gerenciamento/SpEst3Gerenciamento/bin
SpEst3Gerenciamento/SpEst3Gerenciamento/obj
SpGerenciamento1Portal/.angular/
SpGerenciamento1Portal/node_modules/
