<!-- #region HEADER -->
<app-simple-header mode="list" menuGroup="Pessoas" keyword="Painel de Pessoas" [visibleAuditBtn]="false">
   <a class="btn-adicionar btn btn-primary" routerLink="/painel-pessoas/adicionar" routerLinkActive="active">
      <app-svg-storage svgName="mais"></app-svg-storage>
      <span class="ms-2"> Adicionar </span>
   </a>
</app-simple-header>
<!-- #endregion HEADER -->


<div class="glb-main-container p-3">
   <!-- #region SEARCH AND FILTERS -->
   <app-search-filters class="d-flex col-12 mb-4" placeholder="Pesquisar pelo n° do documento ou nome..." [useIsActive]="true"
      (_executeGetBySearch)="getPessoasList($event)" (_EMIT_CLEAR_EXTRA_INPUT)="pessoasFilters.TIPO = ''; pessoasFilters.PAPEL = ''">

   <!-- #region COMBOBOX DE TIPO DE PESSOA -->
   <select class="form-select ms-3 w-25" [(ngModel)]="pessoasFilters.TIPO">
      <option value="" selected disabled>Tipo de Pessoa</option>
      <option value="FIS"> Física </option>
      <option value="JUR"> Jurídica </option>
   </select>
   <!-- #endregion COMBOBOX DE TIPO DE PESSOA -->

   <!-- #region COMBOBOX DE PAPEL DE PESSOA -->
   <select class="form-select ms-3 w-25" [(ngModel)]="pessoasFilters.PAPEL">
      <option value="" selected disabled>Papéis mais comuns</option>
      <option value="FOR"> Fornecedor </option>
      <option value="CLI"> Cliente </option>
      <option value="FUNC"> Funcionário </option>
   </select>
   <!-- #endregion COMBOBOX DE PAPEL DE PESSOA -->

   </app-search-filters>
   <!-- #endregion SEARCH AND FILTERS -->

   <!-- #region TABLE -->
   
   <lib-table [list]="$pessoasList" [counts]="[ 15, 30, 50 ]"
      [headers]="[
         { name: 'Nome', col: 3 },
         { name: 'CPF/CNPJ', col: 2 },
         { name: 'Nascimento/Fundação', col: 2, customClasses: 'text-end' },
         { name: 'Registro no sistema', col: 4 },
         { name: 'Ações', col: 1, customClasses: 'text-end' }
      ]"
      (itemsPerPageChange)="itemsPerPage = $event"
      (pageChange)="page = $event">

      <!-- #region CONTEÚDO -->
      @for (pessoa of $pessoasList | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; track pessoa) {
         <tr innerRows class="align-middle">
            <td>
               <a class="text-primary text-decoration-none fw-bold" tooltip="Editar/Visualizar" [routerLink]="['/painel-pessoas/editar', pessoa.ID_PESSOA]" routerLinkActive="active">{{ pessoa.TX_NOMEPESSOA }}</a>
               <p class="mb-0"><b>Naturalidade:</b> {{ pessoa.IS_ESTRANGEIRO ? 'Estrangeira' : 'Brasileira' }}</p>
            </td>
            <td>{{ pessoa.TX_DOCUMENTO }}</td>
            <td class="text-end">{{ pessoa.TIPOPESSOA_CD == "FIS" ? (pessoa.DT_NASCIMENTO | date: 'dd/MM/yyyy') : (pessoa.DT_FUNDACAO | date: 'dd/MM/yyyy') }}</td>
            <td>
               <p class="my-0"><b>Criado em: </b> {{ pessoa.DT_CRIACAO | date: 'dd/MM/yyyy, HH:mm:ss' }}</p>
               <p class="my-0"><b>Última alteração em: </b> {{ (pessoa.DT_ULTIMAALTERACAO | date: 'dd/MM/yyyy') == "01/01/1900" ? "Nenhuma alteração recente" : pessoa.DT_ULTIMAALTERACAO | date: 'dd/MM/yyyy, HH:mm:ss' }}</p>
            </td>
            <td>
               <div class="d-flex flex-row align-items-center justify-content-end">
                  <app-svg-storage svgName="editar" svgColor="blue" tooltip="Visualizar/Editar" />
                  <div class="form-check form-switch ms-2"> <input class="form-check-input" type="checkbox" role="switch" [checked]="pessoa.IS_ACTIVE"> </div>
               </div>
            </td>
         </tr>
      }
      @empty {
         <tr innerRows> <td colspan="12" class="align-middle"><span class="fw-light fst-italic text-center"> Consulta não retornou registros... </span></td> </tr>
      }
      <!-- #region CONTEÚDO -->

   </lib-table>
   <!-- #endregion TABLE -->
</div>


<!-- #region TEMPLATES -->



<!-- #endregion TEMPLATES -->
